global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'traefik'
    metrics_path: /metrics
    static_configs:
      - targets: ['gateway:8081']

rule_files:
  - /etc/prometheus/prometheus_alerts.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - 'alertmanager:9093'