groups:
  - name: scaling-rules
    rules:
      - alert: HighRequestRate
        expr: sum(rate(traefik_service_requests_total{service=~"rest-app@docker"}[1m])) > 20
        for: 30s
        labels:
          severity: warning
        annotations:
          value: "{{ $value }}"

      - alert: CriticalRequestRate
        expr: sum(rate(traefik_service_requests_total{service=~"rest-app@docker"}[1m])) > 50
        for: 30s
        labels:
          severity: critical
        annotations:
          value: "{{ $value }}"

      - alert: LowRequestRate
        expr: (sum(rate(traefik_service_requests_total{service=~"rest-app@docker"}[1m])) or vector(0)) < 5
        for: 2m
        labels:
          severity: low
        annotations:
          value: "0"